aiodns==1.1.1
aiohttp==1.1.6
aiohttp-jinja2==0.13.0
aiomysql==0.0.9
aiosmtplib==0.1.7
async-timeout==1.1.0
cchardet==1.1.1
chardet==2.3.0
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.5.2
multidict==2.1.4
pkg-resources==0.0.0
pycares==2.1.1
PyMySQL==0.7.9
requests==2.12.3
yarl==0.8.1
attrs==16.3.0
