aiodns==1.1.1
aiohttp==3.3.2
aiohttp-jinja2==1.0.0
aiomysql==0.0.19
aiosmtplib==1.0.2
aiosqlite==0.3.0
altgraph==0.16.1
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
cchardet==2.1.1
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
future==0.16.0
idna==2.7
idna-ssl==1.1.0
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
mccabe==0.6.1
multidict==4.3.1
pefile==2018.8.8
pycares==2.3.0
pycparser==2.18
PyInstaller==3.3.1
PyMySQL==0.9.2
requests==2.19.1
six==1.11.0
urllib3==1.23
yarl==1.2.6
