<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="/static/style.css" rel="stylesheet"/>
</head>
<body>
<div class="menu">
    <a href="/">Index</a> | <a href="/alerts/">Alerts</a> | <a href="/active_monitor/">Active monitors</a> | <a href="/active_monitor_def/">Active monitor definitions</a> | <a href="/contact/">Contacts</a> | <a href="/statistics/">Statistics</a> | <a href="/events/">Events</a><br/>
</div>
{% block body %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
