{% extends "contacts_base.html" %}
{% block body %}
    <h1 class="table-heading">Monitor group</h1>
    <table class="table kvp-table">
        <tr>
            <td>Name</td>
            <td>{{ monitor_group.name }}</td>
        </tr>
    </table>
    <br/>
    {% if active_monitors %}
        <h2 class="table-heading">Active monitors in group</h2>
        {% include "list_active_monitors_include.html" %}
        <br/>
    {% endif %}
    {% if contact_groups %}
        <h2 class="table-heading">Contacts groups in group</h2>
        {% include "list_contact_groups_include.html" %}
        <br/>
    {% endif %}
    {% if contacts %}
        <h2 class="table-heading">Contacts in group</h2>
        {% include "list_contacts_include.html" %}
    {% endif %}
{% endblock %}
