{% extends "base.html" %}
{% block body %}
    Active monitor:<br>
    <table>
    <tr>
        <td>Name</td><td>{{ monitor.get_description() }}</td>
    </tr>
    <tr>
        <td>State</td><td>{{ monitor.state }}</td>
    </tr>
    <tr>
        <td>Last check</td><td>{{ monitor.last_check }}</td>
    </tr>
    <tr>
        <td>Monitor definition</td><td><a href="/active_monitor_def/{{ monitor.monitor_def.id }}/">{{ monitor.monitor_def.name }}</a></td>
    </tr>
    <tr>
        <td>Checks enabled</td><td>{{ monitor.checks_enabled }}</td>
    </tr>
    <tr>
        <td>Alerts enabled</td><td>{{ monitor.alerts_enabled }}</td>
    </tr>
    <tr>
        <td>Message</td><td>{{ monitor.msg }}</td>
    </tr>
    <tr>
        <td>Last check state</td><td>{{ monitor.last_check_state }}</td>
    </tr>
    <tr>
        <td>Consecutive checks (same result)</td><td>{{ monitor.consecutive_checks }}</td>
    </tr>
    <tr>
        <td>Next scheduled job</td><td>{{ monitor.scheduled_job_ts }}</td>
    </tr>
    </table>
    <br>
    Arguments:<br>
    <table>
    {% for key, value in monitor.args.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    Metadata:<br>
    <table>
    {% for key, value in metadata.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
