    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td><a href="/contact/{{ contact.id }}/">{{ contact.id }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.active }}</td>
            </tr>
        {% endfor %}
    </table>
