{% extends "base.html" %}
{% block body %}
    <h2>Global</h2>
    <table>
        <tr><td>Process startup</td><td>{{ stats.global_startup }}</td></tr>
    </table>
    <h2>Active monitors</h2>
    <table>
        <tr><td>Total jobs run</td><td>{{ stats.ACT_MON.total_jobs_run }}</td></tr>
        <tr><td>Checks down</td><td>{{ stats.ACT_MON.checks_down }}</td></tr>
        <tr><td>Checks up</td><td>{{ stats.ACT_MON.checks_up }}</td></tr>
        <tr><td>Checks unknown</td><td>{{ stats.ACT_MON.check_unknown }}</td></tr>
        <tr><td>Currently running jobs</td><td>{{ stats.ACT_MON.cur_running_jobs }}</td></tr>
        <tr><td>Deferred jobs</td><td>{{ stats.ACT_MON.jobs_deferred }}</td></tr>
        <tr><td>Number of monitors</td><td>{{ stats.ACT_MON.num_monitors }}</td></tr>
    </table>
    <h2>SQL</h2>
    <table>
        <tr><td>Queries</td><td>{{ stats.SQL.queries }}</td></tr>
        <tr><td>Transactions</td><td>{{ stats.SQL.transactions }}</td></tr>
    </table>
    <h2>Web API</h2>
    <table>
        <tr><td>Number of calls</td><td>{{ stats.WEBAPI.num_calls }}</td></tr>
    </table>
    <h2>Web management</h2>
    <table>
        <tr><td>Number of calls</td><td>{{ stats.WEBMGMT.num_calls }}</td></tr>
    </table>
{% endblock %}
