a {
    font-size: 16px;
    text-decoration: underline;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
}

table.eventlog tr td pre {
    margin: 3px;
}

table.eventlog tr:nth-child(even) {
    background-color: #f8f8f8;
}

table.eventlog tr:nth-child(odd) {
    background-color: #e8e8e8;
}

/*noinspection CssUnusedSymbol*/
table.eventlog tr.success {
    background-color: lightgreen;
}

/*noinspection CssUnusedSymbol*/
table.eventlog tr.warning {
    background-color: lightpink;
}

.table {
    width: 100%;
}

.table th {
    padding: 5px;
    background-color: lightblue;
}

.table td {
    padding: 5px;
}

.table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.table tr:nth-child(odd) {
    background-color: #e8e8e8;
}

.menu {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.menu a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: underline;
}

.submenu {
    margin-bottom: 7px;
}

.kvp-table td:first-child {
    font-weight: bold;
}

.table-heading {
    margin-top: 20px;
    font-weight: bold;
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #202020;
    background-color: lightblue;
}

h1.table-heading {
    font-size: 25px;
}

h2.table-heading {
    font-size: 20px;
}